.center .modal-btn {
  cursor: pointer;
  text-transform: uppercase;
  color: rgba(251, 215, 132, 1);
  font-family: "Gilroy", sans-serif;
  font-size: 25px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 2px;
  text-align: center;
}

#modal-toggle {
  display: none;
}

.modal-content,
.modal-backdrop {
  opacity: 0;
  position: fixed;
  overflow: auto;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 998;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  opacity: 0;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%) translateY(-100%);
  overflow-y: auto;
  border-radius: 15px;
  text-align: center;
  z-index: 1000;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  background-color: #fff;
}

@media (max-width: 600px) {
  .modal-content {
    width: 90%;
    height: 60vh;
  }
}

/* Кнопка закрытия */
.modal-close-btn {
  margin-top: 5px;
  margin-left: 320px;
  display: inline-block;
  cursor: pointer;
  color: #201421;
  font-size: 24px;
}
.center .modal-btn:hover {
  color: rgba(251, 215, 132, 1);
  cursor: pointer;
}

.modal-close-btn {
  transition: 0.2s;
  color: #201421;
  font-size: 24px;
}

.modal-close-btn:hover {
  transform: rotate(360deg);
  color: #201421;
  font-size: 24px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.tabs > .radio {
  display: none;
}

.tabs > .table {
  flex-basis: 100%;
  text-align: center;
  cursor: pointer;
}

.tabs-content {
  width: 100%;
  display: none;
}

.tabs > .tabs-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-bottom: solid 1px #201421;
  font-size: 18px;
  letter-spacing: 1px;
  transition: 0.1s;
  width: 330px;
  background-color: #ffffff;
}

input:focus {
  transform: translateX(10px);
  outline: none;
}

input[type="submit"] {
  padding: 15px 0;
  width: 150px;
  background-color: #201421;
  color: #fff;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 16px;
  margin-left: 130px;
}

header {
  padding: 0 10px;
  padding-top: 20px;
  text-align: center;
  transition: 0.4s ease-in-out;
  height: 50px;
}

header:hover {
  background-color: #201421;
}

.container__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.right {
  flex: 1;
  text-align: right;
}

.left {
  flex: 1;
  text-align: left;
}

.center {
  flex: 3;
  text-align: center;
  display: flex;
  justify-content: center;
}

.center .modal-btn,
.left,
.right {
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "Gilroy", sans-serif;
  font-size: 12px;
  font-weight: 800;
  line-height: 22.05px;
  letter-spacing: 2px;
  text-align: center;
}

.left:hover {
  color: rgba(251, 215, 132, 1);
}
.center .modal-btn label:hover {
  color: rgba(251, 215, 132, 1);
}

.right:hover {
  color: rgba(251, 215, 132, 1);
}

.left {
  font-size: 24px;
  font-weight: bold;
  margin-left: -50px;
}

@media (max-width: 992px) {
  .center,
  .left,
  .right {
    font-size: 12px;
  }

  .left {
    font-size: 24px;
    font-weight: bold;
    margin-left: 0px;
  }
}

@media (max-width: 570px) {
  .container__header {
    width: 90%;
    margin: 0 auto;
  }
  .left {
    margin-left: -20px;
    font-size: 21px;
  }
  .modal-close-btn {
    margin-top: 5px;
    margin-left: 230px;
  }
}
@media (max-width: 400px) {
  .modal-close-btn {
    margin-top: 5px;
    margin-left: 150px;
  }
}
.modal-content,
.modal-backdrop {
  z-index: 1000;
}

header {
  z-index: 900;
  position: fixed;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.4);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  transition: height 0.3s;
  padding-top: 25px;
}

/* Модальное окно */
.modal-content {
  opacity: 0;
  position: fixed;
  z-index: 1100;
  overflow: hidden;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 280px;
  width: 400px;
  border-radius: 15px;
  text-align: center;
  transform: translateX(125%);
  background-color: transparent;
  margin: auto;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1900;
}

#modal-toggle:checked ~ .modal-backdrop {
  opacity: 1;
  background-color: rgba(52, 52, 52, 0.9);
  z-index: 998;
  transform: scale(1);
}

#modal-toggle:checked ~ .modal-content {
  opacity: 1;
  background-color: #ffffff;
  pointer-events: auto;
  cursor: pointer;
  z-index: 1100;
  transform: translateX(0%);
}

header {
  position: fixed;
  width: 99%;
  height: 40px;
  top: 0;
  left: 0;
  background-color: rgba(22, 22, 22, 0.4);
  border-bottom: 3px solid rgba(0, 0, 0, 0.4);
  transition: height 0.3s;
  padding-top: 25px;
}

h1 {
  margin-top: 0;
}

h1,
nav {
  display: inline-block;
  position: relative;
  line-height: 150px;
  transition: all 0.3s;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  float: right;
  line-height: 150px;
  font-size: 1.4em;
}

nav a {
  margin-left: 10px;
}

nav a:hover {
  border-top: 2px dotted white;
  border-bottom: 2px dotted white;
}

header.minimized {
  height: 60px;

  h1,
  nav {
    line-height: 60px;
  }
  nav {
    font-size: 1.2em;
  }
  h1 {
    font-size: 1.7em;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(22, 22, 22, 0.4);
  z-index: 1000;
}

:root {
  --main-color: #201421;
}
