.hiking {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 100px 50px;
  background: linear-gradient(135deg, #0a030a 0%, #321f2d 100%);
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(27, 18, 26, 0.1);
}

.hiking__container {
  flex: 1;
  padding: 0 20px;
}

.hiking__container h1 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1px;
  color: white;
  line-height: 120%;
  margin-bottom: 20px;
}

.hiking__container p {
  font-size: 16px;
  font-weight: 100;
  line-height: 120%;
  letter-spacing: 1px;
  color: white;
  margin-bottom: 30px;
}

.hiking__button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg width="127" height="22" viewBox="0 0 127 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M3.384 9.548C3.6 8.972 3.954 8.54 4.446 8.252C4.95 7.964 5.508 7.82 6.12 7.82V10.412C5.412 10.328 4.776 10.472 4.212 10.844C3.66 11.216 3.384 11.834 3.384 12.698V17H1.062V8H3.384V9.548ZM9.10603 13.454C9.41803 14.582 10.264 15.146 11.644 15.146C12.532 15.146 13.204 14.846 13.66 14.246L15.532 15.326C14.644 16.61 13.336 17.252 11.608 17.252C10.12 17.252 8.92603 16.802 8.02603 15.902C7.12603 15.002 6.67603 13.868 6.67603 12.5C6.67603 11.144 7.12003 10.016 8.00803 9.116C8.89603 8.204 10.036 7.748 11.428 7.748C12.748 7.748 13.834 8.204 14.686 9.116C15.55 10.028 15.982 11.156 15.982 12.5C15.982 12.8 15.952 13.118 15.892 13.454H9.10603ZM9.07003 11.654H13.66C13.528 11.042 13.252 10.586 12.832 10.286C12.424 9.986 11.956 9.836 11.428 9.836C10.804 9.836 10.288 9.998 9.88003 10.322C9.47203 10.634 9.20203 11.078 9.07003 11.654ZM24.3727 8H26.6947V17H24.3727V15.938C23.6767 16.814 22.6987 17.252 21.4387 17.252C20.2387 17.252 19.2067 16.796 18.3427 15.884C17.4907 14.96 17.0647 13.832 17.0647 12.5C17.0647 11.168 17.4907 10.046 18.3427 9.134C19.2067 8.21 20.2387 7.748 21.4387 7.748C22.6987 7.748 23.6767 8.186 24.3727 9.062V8ZM20.0887 14.336C20.5567 14.804 21.1507 15.038 21.8707 15.038C22.5907 15.038 23.1847 14.804 23.6527 14.336C24.1327 13.856 24.3727 13.244 24.3727 12.5C24.3727 11.756 24.1327 11.15 23.6527 10.682C23.1847 10.202 22.5907 9.962 21.8707 9.962C21.1507 9.962 20.5567 10.202 20.0887 10.682C19.6207 11.15 19.3867 11.756 19.3867 12.5C19.3867 13.244 19.6207 13.856 20.0887 14.336ZM35.6223 4.4H37.9443V17H35.6223V15.938C34.9383 16.814 33.9663 17.252 32.7063 17.252C31.4943 17.252 30.4563 16.796 29.5923 15.884C28.7403 14.96 28.3143 13.832 28.3143 12.5C28.3143 11.168 28.7403 10.046 29.5923 9.134C30.4563 8.21 31.4943 7.748 32.7063 7.748C33.9663 7.748 34.9383 8.186 35.6223 9.062V4.4ZM31.3383 14.336C31.8183 14.804 32.4183 15.038 33.1383 15.038C33.8583 15.038 34.4523 14.804 34.9203 14.336C35.3883 13.856 35.6223 13.244 35.6223 12.5C35.6223 11.756 35.3883 11.15 34.9203 10.682C34.4523 10.202 33.8583 9.962 33.1383 9.962C32.4183 9.962 31.8183 10.202 31.3383 10.682C30.8703 11.15 30.6363 11.756 30.6363 12.5C30.6363 13.244 30.8703 13.856 31.3383 14.336ZM54.5219 7.748C55.5539 7.748 56.3759 8.084 56.9879 8.756C57.6119 9.428 57.9239 10.328 57.9239 11.456V17H55.6019V11.618C55.6019 11.078 55.4699 10.658 55.2059 10.358C54.9419 10.058 54.5699 9.908 54.0899 9.908C53.5619 9.908 53.1479 10.082 52.8479 10.43C52.5599 10.778 52.4159 11.282 52.4159 11.942V17H50.0939V11.618C50.0939 11.078 49.9619 10.658 49.6979 10.358C49.4339 10.058 49.0619 9.908 48.5819 9.908C48.0659 9.908 47.6519 10.082 47.3399 10.43C47.0399 10.778 46.8899 11.282 46.8899 11.942V17H44.5679V8H46.8899V8.954C47.4299 8.15 48.2639 7.748 49.3919 7.748C50.4959 7.748 51.3119 8.18 51.8399 9.044C52.4399 8.18 53.3339 7.748 54.5219 7.748ZM67.564 15.884C66.64 16.796 65.512 17.252 64.18 17.252C62.848 17.252 61.72 16.796 60.796 15.884C59.884 14.96 59.428 13.832 59.428 12.5C59.428 11.168 59.884 10.046 60.796 9.134C61.72 8.21 62.848 7.748 64.18 7.748C65.512 7.748 66.64 8.21 67.564 9.134C68.488 10.046 68.95 11.168 68.95 12.5C68.95 13.832 68.488 14.96 67.564 15.884ZM62.434 14.282C62.902 14.75 63.484 14.984 64.18 14.984C64.876 14.984 65.458 14.75 65.926 14.282C66.394 13.814 66.628 13.22 66.628 12.5C66.628 11.78 66.394 11.186 65.926 10.718C65.458 10.25 64.876 10.016 64.18 10.016C63.484 10.016 62.902 10.25 62.434 10.718C61.978 11.186 61.75 11.78 61.75 12.5C61.75 13.22 61.978 13.814 62.434 14.282ZM72.9055 9.548C73.1215 8.972 73.4755 8.54 73.9675 8.252C74.4715 7.964 75.0295 7.82 75.6415 7.82V10.412C74.9335 10.328 74.2975 10.472 73.7335 10.844C73.1815 11.216 72.9055 11.834 72.9055 12.698V17H70.5835V8H72.9055V9.548ZM78.6275 13.454C78.9395 14.582 79.7855 15.146 81.1655 15.146C82.0535 15.146 82.7255 14.846 83.1815 14.246L85.0535 15.326C84.1655 16.61 82.8575 17.252 81.1295 17.252C79.6415 17.252 78.4475 16.802 77.5475 15.902C76.6475 15.002 76.1975 13.868 76.1975 12.5C76.1975 11.144 76.6415 10.016 77.5295 9.116C78.4175 8.204 79.5575 7.748 80.9495 7.748C82.2695 7.748 83.3555 8.204 84.2075 9.116C85.0715 10.028 85.5035 11.156 85.5035 12.5C85.5035 12.8 85.4735 13.118 85.4135 13.454H78.6275ZM78.5915 11.654H83.1815C83.0495 11.042 82.7735 10.586 82.3535 10.286C81.9455 9.986 81.4775 9.836 80.9495 9.836C80.3255 9.836 79.8095 9.998 79.4015 10.322C78.9935 10.634 78.7235 11.078 78.5915 11.654Z" fill="%23FBD784"/><path d="M119 3L117.59 4.41L123.17 10L103 10L103 12L123.17 12L117.58 17.58L119 19L127 11L119 3Z" fill="%23FBD784"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 95px;
  animation: moveButton 10s infinite;
}
@keyframes moveButton {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(80px);
  }
  100% {
    transform: translateX(0);
  }
}

.hiking__img {
  flex: 1;
}

.hiking__img img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.second {
  margin-left: 100px;
}
